<div ng-include="'./header.html'"></div>
<img class="goat-mascot" src="../public/img/my-early-goat-attempt.png"/>

<div class="container">
    <h1>*Populated with latest Tweet*</h1>
</div>
<div>
    <hi>When do you want to tweet?</hi>
</div>

<cron-selection output="myCronOutput"></cron-selection>

{{myOutput}}


<form>
    <p>
        <label for="hourTweet">Input Text of Tweet</label>
        <input type="text" ng-model="hourTweet" value="tweetStatus" />
        <button ng-click="hourlyTweet()"> SET Time and Tweet</button>
    </p>

</form>

<button ng-click="pause()" type="button" class="btn btn-danger">Pause Bot</button>







<!--Potential dropdown menu using UI-Bootstrap-->
<!--<div class="btn-group">Select Here-->
    <!--<a class="btn dropdown-toggle">-->
        <!--Tweet in response to something-->
        <!--<span class="caret"></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu">-->
        <!--&lt;!&ndash; static &ndash;&gt;-->
        <!--<li><a>When Someone Follows you?</a></li>-->
        <!--<li ng-click="current = '2'"><a>When Someone @ Mentions you?</a></li>-->
        <!--<li ng-click="current = '3'"><a>In response to a particular Text?</a></li>-->
        <!--<li ng-click="current = '4'"><a>When Someone Favorites your Tweet?</a></li>-->
    <!--</ul>-->
<!--</div>current={{current}}</div>-->
<!--</div>-->

<!--Potential time picker using UI-Bootstrap date-time picker  https://github.com/Gillardo/bootstrap-ui-datetime-picker-->
<!--<div>-->
    <!--<p class="input-group">-->
        <!--<input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="myDate" is-open="isOpen"  />-->
        <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>-->
        <!--</span>-->
    <!--</p>-->
<!--</div>-->