
<div ng-controller="StepOneController">

        <h2 ng-show="tweetMode == '' || tweetMode == 'schedule'" >When do you want to Tweet?</h2>
        <div ng-show="tweetMode == '' || tweetMode == 'mention'" >
            <div class="radio">
                <label>
                <input id="schedule" type="radio" ng-model="tweetMode" value="schedule" ng-change="updateFactoryTweetMode()" />
                On A Schedule
                </label>
            </div>

            <div class="radio">
                <label>
                <input id="word" type="radio" ng-model="tweetMode" value="word" ng-change="updateFactoryTweetMode()" />
                In response to a specific hashtag
                </label>
            </div>

            <div class="radio">
                <label>
                <input id="mention" type="radio" ng-model="tweetMode" value="mention" ng-change="updateFactoryTweetMode()" />
                When you are @ mentioned
                </label>
            </div>
        </div>


    <div ng-show="tweetMode == 'schedule'">

        <cron-selection output="myCronOutput"></cron-selection>

    </div>

    <div ng-show="tweetMode == 'word'">
        <h2>Search for Tweets Containing:</h2>
        <label for="myTweetSearch"></label>
        <input type="text" id="myTweetSearch" ng-model="myTweetSearch" ng-change="updateFactoryTweetSearchText()">

    </div>

</div>

