Step 1
<div ng-controller="StepOneController">
    <div class="container">
        <h1>Configure your Bot</h1>
        <div ng-show="tweetMode == ''" class="radio">
            <label for="redRadio">On a Schedule:     </label><br />
            <input id="redRadio" type="radio" ng-model="tweetMode" value="schedule" ng-change="updateFactoryTweetMode()" /><br />

            <label for="greenRadio">In response to a specific text:    </label><br />
            <input id="greenRadio" type="radio" ng-model="tweetMode" value="word" ng-change="updateFactoryTweetMode()" /><br />

            <label for="blueRadio">When you are @ mentioned:    </label><br />
            <input id="blueRadio" type="radio" ng-model="tweetMode" value="mention" ng-change="updateFactoryTweetMode()" /><br />
            <br />
            <strong>Selected Tweet Mode:</strong> {{tweetMode}}<br />
        </div>
    </div>

    <div ng-show="tweetMode == 'schedule'">
        <h2>Tweet Every: </h2>

        <cron-selection output="myCronOutput"></cron-selection>

        <strong>Selected Tweet Mode:</strong> {{tweetMode}}<br/>
        {{myCronOutput}}

    </div>

    <div ng-show="tweetMode == 'word'">
        <h2>Search for Tweets Containing:</h2>
        <label for="myTweetSearch"></label>
        <input type="text" id="myTweetSearch" ng-model="myTweetSearch" ng-change="updateFactoryTweetSearchText()">
        <strong>Selected Tweet Mode:</strong> {{tweetMode}}<br />
        {{myTweetSearch}}
    </div>

</div>

